@import "variables";

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-orange;
    font-size: 12px;
    gap: 5px;
    padding: 10px 14px;
}

header img{
    width: 12px;
    height: 12px;
}